.user__bg {
  background-color: #d6d8e7;
}

.user__layout {
  display: flex;
  justify-content: space-between;
}

.user__profile {
  background-color: #fff !important;
  padding: 32px 32px !important;
  margin: 40px 0 !important;
  border-radius: 8px;
  height: 100%;
}

.user__header h4 {
  font-size: 16px;
  color: #4e4b66;
  font-weight: 400;
}

.user__header--image {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.user__header--image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user__header--image h2 {
  font-size: 20px;
  font-weight: 600;
}

.user__header--image p {
  font-size: 14px;
  font-weight: 400;
}

.user__loyalty {
  font-size: 16px;
  font-weight: 600;
}

.loyalty {
  background-color: #5f2eea;
  border-radius: 8px;
  padding: 20px;
}

.loyalty h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.user__loyalty h6 {
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
  margin: 12px 0;
}

.point {
  display: flex;
}

.point h5 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.point p {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

.account__settings--button {
  display: flex;
  margin-bottom: 20px;
}

.account__settings--button h2 {
  margin: 0;
}

.account__settings--button h2:nth-child(1) {
  margin: 0 24px 0 0;
}

.user__update--image button {
  width: 60%;
  border-radius: 8px;
  border: 1px solid #5f2eea;
  margin: 0 0 12px 0;
  background-color: #5f2eea;
  color: #fff;
  padding: 4px;
}
