.profile {
  padding: 50px;
  border-radius: 8px;
  background-color: #fff;
  /* margin-bottom: 50px; */
}

.profile__bg {
  background-color: #d6d8e7;
}

.update__image--movie {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update__image--movie button {
  border: 1px solid #5f2eea;
  background-color: #5f2eea;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  color: #fff;
}

.image__movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.manage__movie {
  margin-top: 20px !important;
}

.profile__border {
  border: 1px solid #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 40px 0;
}

.profile__header {
  padding: 32px 0;
}

.profile__header h1 {
  font-size: 24px;
  font-weight: 700;
}

.profile__border img {
  width: 80%;
  height: 150px;
  object-fit: cover;
  margin: 20px;
}

.profile__content--desc {
  padding: 12px 0;
}

.profile__content--desc span {
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
}

.profile__content--input input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
}

.profile__content--synopsis {
  display: flex;
  flex-direction: column;
}

.profile__content--synopsis span {
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
  padding: 12px 0;
}

.profile__content--synopsis textarea {
  padding: 20px;
  border-radius: 8px;
}

.profile__content--button {
  display: flex;
  justify-content: flex-end;
}

.profile__content--button button {
  width: 100%;
  border: 1px solid #5f2eea;
  background-color: #5f2eea;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
}

.profile__content--button button:nth-child(1) {
  margin: 16px 12px 0 0;
  background-color: #fff;
  color: #5f2eea;
}

.profile__content--button button:nth-child(2) {
  margin: 16px 0 0 0;
}

.profile__movie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
}

.movie__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.data--dropdown--movie {
  display: flex;
}

.data--movie h1 {
  font-size: 24px;
  font-weight: 700;
}

.data--dropdown--movie select {
  margin: 0 12px;
  width: 100px;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
}

.data--dropdown--movie input {
  margin: 0 12px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
}

.empty {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 50px !important;
}
