@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

.register__cover {
  background-image: url("../../../assets/img/coverlogin.png");
  height: 1024px;
  background-size: cover;
  padding: 0 !important;
}

.register__cover--screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(43, 21, 107, 0.7);
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20%;
}

.register__cover--logo img {
  margin-top: -150px;
  width: 250px;
  height: 100px;
}

.register__cover--desc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.register__cover--desc h3 {
  color: #fff;
  font-size: 44px;
  font-weight: 700;
}

.register__cover--desc p {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

.steper {
  padding: 20px;
  counter-reset: step;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.steper__list::before {
  counter-increment: step 1;
  content: counter(step);

  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steper__list {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
}

.steper__list--line {
  border-left: 1px solid #fff;
  height: 25px;
  position: relative;
  left: 7.5%;
}

.steper__list--active::before {
  border: 2px solid #fff;
  background-color: #fff;
  color: blue;
}

.steper__list--active {
  color: #fff;
}

.form__register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__register--detail {
  padding: 60px;
}

.form__register h2 {
  font-size: 26px;
  font-weight: 600;
  color: #121212;
}

.form__register--input p {
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
}

.form__register--input input {
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid #b3b3b8;
}

.form__register--button button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin-top: 12px;
  color: #f7f7fc;
  background-color: #5f2eea;
  outline: none;
  border: none;
}

.sign--register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign--register a {
  text-decoration: underline;
  color: #5f2eea;
  margin: 12px 0 0 4px;
}

.sign--register p {
  color: #8692a6;
  margin-top: 12px;
  margin: 12px 0 0 0;
}

label {
  font-size: 18px;
  font-weight: 400;
  color: #696f79;
}
