.user__account button {
  width: 100%;
  margin: 12px 0 20px 0;
}

.account__settings {
  border-bottom: 1px solid #dedede;
  margin-bottom: 32px;
}

.account__settings h2 {
  font-size: 18px;
  color: #14142b;
}

.line {
  border-bottom: 1px solid #dedede;
  margin-bottom: 32px;
}

.user__account {
  background-color: #fff !important;
  padding: 32px 32px !important;
  margin: 40px 0 !important;
  border-radius: 8px;
}

.user__account h2 {
  font-size: 16px;
  font-weight: 400;
  color: #14142b;
}

.user__content--desc span {
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
}

.user__content--input input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin: 8px 0;
}
